In [6]:
import pandas as pd
import os

os.getcwd()

df = pd.read_csv(
    r'../artifact/10_23_2025_16_15_01/data_ingestion/ingested/RUL.csv'  # note the ../
)  # remove delimiter='' â€” default is comma
#df = pd.read_csv('./artifact/10_23_2025_14_15_53/data_ingestion/feature_store/RUL.csv', delimiter='')

In [7]:
df.head(5)

  subset      0
0  FD001  112.0
1  FD001   98.0
2  FD001   69.0
3  FD001   82.0
4  FD001   91.0